@media screen and (max-width:768px) {

    .nav-menu {
        padding-left: 15px;
        display: none;
      }


    .cadre-c {
        gap: 0%;
        max-width: 22%;
    }

    .texte-pizza {
        font-size: 9px;
      }

    .cadre-c {
        border-radius: 5px;
        overflow: hidden;
        gap: 0%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 28%;
        flex-shrink: 0;
        max-width: 22%;
      }

    .pizza {
        flex-wrap: nowrap;
    }

    .pizza img{
        width: 185px;
        height: 180px;
    }

    hr {
        width: 65%;
        margin-left: 15%;
    }

    footer p{
        font-size: 8px;
    }

    h3{
        font-size: 15px;
    }

    h4 {
        margin-left: 3%;
        font-size: 14px;
    }

    button {
        width: 80px;
        height: 30px;
        font-size: 8px;
        margin-bottom: 20px;
      }

    /* CALLOUT */  

    .callout {
        margin-top: 20px;
        margin-left: 30px;
        max-width: 85%;
        text-decoration: none;
        font-size: 8px;
      }

      .callout2 {
        margin-left: 35%;
        max-width: 55%;
      }

      .callout2 button {
        width: 80px;
        height: 30px;
        font-family: Montserrat, sans-serif;
        display: inline-block;
        background-color: #1E1E1E;
        border: none;
        border-radius: 15px;
        color: #eeeeee;
        text-align: center;
        font-size: 8px;
        cursor: pointer;
        margin-bottom: 5%;
        margin-top: 40%;
      }

    .callout-container img {
        width: 230%;
        height: 200px;
        border-radius: 5px;
      }

      

      .callout-header2 p {
        font-size: 13px;
      }

    /* BUTTON */

    .inthefooter img{
        width: 10%;
        height: 10%;
        margin-right: 10px;
    }

    .app-footer img{
        width: 100px;
    }

    .pay-footer img{
        width: 45px;
        height: 25px;
    }

    .pay-footer {
        justify-content: space-evenly;
        align-items: center;
    }

    .join-footer {
        margin-right: 2%;
    }

    .join-footer img{
        width: 18%;
        align-items: center;
    }

    .logo-footer {
        margin-top: 20%;
    }

    .fleche img{
        width: 20%;
        margin-left: -5%;
    }

    
}

@media screen and (max-width:1440px){

    .cadre-c{
        gap: 0px;
    }

    .texte-pizza {
        padding: 40px;
      }
}

@media screen and (max-width:390px){
    main {
        margin-bottom: 25px;
        margin-left: 2%;
        margin-right: 2%;
      }

      hr {
        width: 65%;
        margin-left: 15%;
        margin-top: -1%;
      }

      h3 {
        font-size: 10px;
      }

      .txt {
        margin-left: 5%;
        margin-bottom: -15%;
      }

      .ligne{
        gap: 5px;
      }

      .pizza {
        flex-wrap: wrap;
        gap: 20px;
      }

      .cadre-c {
        flex-basis: 47%;
        max-width: 45%;
        gap: 0px;
      }

      .pizza img {
        width: 100%;
        height: 180px;
      }

      .texte-pizza {
        font-size: 9px;
        padding: 22px;
      }

      button {
        width: 85px;
        height: 20px;
        margin-bottom: 15px;
        font-size: 8px;
      }

      .callout-container img {
        width: 140px;
        height: 215px;
        border-radius: 5px;
      }

      .callout-container2 img {
        width: 85px;
        height: 120px;
      }

      .callout-header2 p{
        font-size: 10px;
      }

      .callout{
        font-size: 8px;
        margin-left: 0px;
        max-width: 100%;
      }

      .callout2 {
        margin-left: 30%;
        max-width: 80%;
        margin-top: 4%;
      }

      .callout2 button {
        width: 52px;
        height: 20px;
        font-size: 6px;
        margin-bottom: 5%;
        margin-top: 40%;
      }

      .closebtn{
        font-size: 20px;
      }

      /* FOOTER */

      .app-footer img {
        width: 55px;
      }

      h4 {
        font-size: 8px;
        margin-top: 20%;
      }

      footer p {
        font-size: 7px;
        max-width: 55%;
      }

      .pay-footer img {
        width: 35px;
        height: 18px;
      }

      .icon-footer {
        margin-top: 0%;
      }
}