@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

html,body {

    font-family: Montserrat, sans-serif; 
    background-size: cover; 
    background-position: center;
    height: 100%;
    background-repeat: no-repeat; 
    background-color: #1E1E1E;
    scroll-behavior: smooth;
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: #ffffff;
  }

  main{
    margin-bottom: 25px;
  }



    /*********** NAVBAR *********/


.container{
    width: 100%;
    height: 100px;
}

.bouh2{
    margin-top: 25px;
}

  li{
    font-size: medium;
  }

  .navbar {
      display:flex;
      padding-right: 40px;
      padding-left: 25x;
  }
   
  header nav {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      padding-top: 5px;
      margin-right: 22px;
      background-color: #E02B1A;
  }
  
  header ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  header ul li {
      margin-left: 2rem;  
      list-style: none; 
      font-family: 'Montserrat'; 
      line-height: 28px; 
      text-align: center; 
      letter-spacing: 0.2px;
      margin-left: 4rem;
      font-size: 15px;
  }  
  
  header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  } 
  
  .head-container {
      margin: auto;
      display: flex;
      text-align: center;
      justify-content: center;
  }
  
  .nav-menu {
      padding-left: 15px;
  }


  /************* LOGO ***********/


  .logo{
    width: 180px;
    margin-left: 50px;
    margin-top: 25px;
  }

.logo2 img{
    width: 20px;
    height: 20px; 
    margin-left: 5px;
}

.logo2{
    margin-right: 40px;
    margin-top: 25px;
}
   

    /************ CARD ***********/


    .cadre-c{
        border-radius: 5px;
        overflow: hidden;
    }
    
    .pizza{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #ffffff;
        font-size: 30px;
        margin-top: 20px;
    }
    
    .pizza img{
        width: 420px;
        height: 440px;
        
    }
    
    .texte-pizza{
        background-color: #595959;
        font-size: 16px;
        padding: 35px;
    }
    
    button {
        width: 150px ;
        height: 30px ;
        font-family: Montserrat, sans-serif; 
        display: inline-block;
        background-color: #E02B1A;
        border: none;
        border-radius: 5px;
        color: #eeeeee;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .prix{
        text-align: right;
        margin-top: -60px;
    }

    .cadre-c {
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 28%;
        flex-shrink: 0;
        max-width: 22%;
    }



      /********* FOOTER **********/


      hr{
        border-color: red;
        width: 34%;
        margin-left: 32%;
    }
    
    h3{
        color: white;
        font-family: Montserrat, sans-serif;
        display: flex;
        justify-content: center;
    }
    
    h4{
        color: white;
        font-family: Montserrat, sans-serif;
        margin-left: 8%;
        margin-top: 8%;
    }
    
    footer p{
        color: #B9B9B9;
        font-family: Montserrat, sans-serif;
    }
    
    .titre-main-footer{
        display: flex;
        justify-content: center;
    }
    
    .footer {
        background-color:#181818;
        margin: 0;
        
    }
    
    .info-footer{
        margin-right: -10%;
        margin-top: 5%;
    }
    
    .inthefooter{
        display: flex;
        justify-content: space-between;
    }
    
    .icon-footer{
        display: flex;
        margin-bottom: 5%;
        margin-top: 8%;
        margin-left: 8%;
    }
    
    .logo-footer{
       display: flex;
       justify-content: space-around;
       margin-top: 10%;
    }
    
    .pay-footer{
        display: flex;
        margin-top: 10%;
        margin-right: 0%;
        justify-content: space-around;
    }
    
    .fleche{
        display: flex;
        margin-top: 35%;
        margin-bottom: 20%;
        justify-content: center;
        margin-left: 7%;
    }
    
    .main-footer{
        margin-top: 5%;
    }
    
    .join-footer{
        margin-right: 5%;
        margin-top: 5%;
    }
    
    .app-footer{
      margin-top: 10%;
    }