@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

hr{
    border-color: red;
    width: 34%;
    margin-left: 32%;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

h3{
    color: white;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
}

h4{
    color: white;
    font-family: Montserrat, sans-serif;
    margin-left: 8%;
    margin-top: 8%;
}

p{
    color: #B9B9B9;
    font-family: Montserrat, sans-serif;
}

a{
    text-decoration: none;
}

/*------------------------------------Navbar----------*/

html,body {

    font-family: Montserrat, sans-serif; 
    background-size: cover; 
    background-position: center;
    height: 100%;
    background-repeat: no-repeat; 
    background-color: #1E1E1E;
    scroll-behavior: smooth;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }

.container{
    width: 100%;
    height: 100px;
}

.bouh2{
    margin-top: 25px;
}

  li{
    font-size: medium;
  }

  .navbar {
      display:flex;
      padding-right: 40px;
      padding-left: 25x;
  }
   
  header nav {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      padding-top: 5px;
      margin-right: 22px;
      background-color: #E02B1A;
  }
  
  header ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  header ul li {
      margin-left: 2rem;  
      list-style: none; 
      font-family: 'Montserrat'; 
      line-height: 28px; 
      text-align: center; 
      letter-spacing: 0.2px;
      margin-left: 4rem;
      font-size: 15px;
  }  
  
  header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  } 
  
  .head-container {
      margin: auto;
      display: flex;
      text-align: center;
      justify-content: center;
  }
  
  .nav-menu {
      padding-left: 15px;
  }

  .logo{
    width: 180px;
    margin-left: 50px;
    margin-top: 25px;
  }

.logo2 img{
    width: 20px;
    height: 20px; 
    margin-left: 5px;
}

.logo2{
    margin-right: 40px;
    margin-top: 25px;
}

/*------------------------------------Navbar----------*/

/*------------------------------------Main Compte 1----------*/

.facebook-btn{
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #254AA5;
    color: white;
    width: 25%;
    margin-left: 37%;
    border: none;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 1%;
}

.apple-btn{
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    width: 25%;
    margin-left: 37%;
    border: none;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 1%;
}

.google-btn{
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #1E1E1E;
    color: rgb(255, 255, 255);
    width: 25%;
    margin-left: 37%;
    border-radius: 10px;
    border-color: rgb(164, 164, 164);
    height: 45px;
    margin-bottom: 1%;
}

.no-account{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

strong{
    color: red;
    margin-left: 10px;
}

input{
    width: 8%;
    color: white;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 13px;
    border: 1;
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.feedback-input{
    color: rgb(196, 196, 196);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 15px;
    background-color: transparent;
    border: 2px solid #5a5858;
    transition: all 0.3s;
    padding: 15px;
    margin-bottom: 25px;
    box-sizing: border-box;
    outline: 0;
    margin-left: -107px;
    display: flex;
    border-radius: 5px;
    width: 335px;
}

.btn-envoyer{
    display: flex;
    justify-content: center;
}

.feedback-btn{
    color: rgb(196, 196, 196);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 15px;
    background-color: transparent;
    border: 2px solid #430000;
    background-color: #F10000;
    transition: all 0.3s;
    padding: 15px;
    margin-bottom: 25px;
    box-sizing: border-box;
    outline: 0;
    margin-left: -30px;
    display: flex;
    border-radius: 5px;
    width: 175px;
    border-radius: 10px;
    font-size: 15px;
}

.checkbox{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 10px;
    margin-right: 3px;
}

.input-checkbox{
    width: 12px;
    margin-bottom: 40px;
    margin-right: 10px;
}

/*------------------------------------Main Compte 1----------*/

/*------------------------------------Profil----------*/

.profil-head{
    display: flex;
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.membre{
    margin-left: -209px;
    font-size: 14px;
    margin-top: 6px;
}

.name-profil{
    margin-left: 2%;
}

.section-hr{
    width: 100%;
    margin-left: 0px;
    border-color: #B9B9B9;
}

.section-compte{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
}

/*------------------------------------Profil----------*/

/*------------------------------------Main-Page-Compte----------*/

.hr-compte{
    margin-left: 83px;
    width: 8%;
}

.titre-page-compte{
    font-size: 16px;
    margin-right: 3%;
}

.img-page-compte{
    display: flex;
    justify-content: space-around;
}

.description-img-compte{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 4%;
}

.fin-page-compte{
    display: flex;
    justify-content: space-around;
}

.feedback-btn2{
    color: rgb(196, 196, 196);
    font-family: Montserrat, sans-serif;
    line-height: 15px;
    background-color: transparent;
    border: 2px solid #430000;
    background-color: #831207;
    transition: all 0.3s;
    padding: 6px;
    margin-bottom: 25px;
    box-sizing: border-box;
    outline: 0;
    margin-left: 100px;
    display: flex;
    border-radius: 5px;
    margin-top: 4%;
    width: 50%;
    border-radius: 5px;
    font-size: 12px;
}

/*------------------------------------Main-Page-Compte----------*/

/*------------------------------------Main-Page-Commande----------*/

.hr-commande{
    margin-left: 41%;
    width: 14%;
}

.img-page-commande{
    display: flex;
    justify-content: center;
    margin-right: 2%;
    margin-top: 5%;
}

.titre-page-compte{
    display: flex;
    justify-content: center;
    margin-right: 2%;
    margin-top: 2%;
}

.p-page-compte{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/*------------------------------------Main-Page-Commande----------*/

/*------------------------------------Footer----------*/

.titre-main-footer{
    display: flex;
    justify-content: center;
}

.footer {
    background-color:#000000;
    margin: 0;
    
}

.info-footer{
    margin-right: -10%;
    margin-top: 5%;
}

.inthefooter{
    display: flex;
    justify-content: space-between;
}

.icon-footer{
    display: flex;
    margin-bottom: 5%;
    margin-top: 8%;
    margin-left: 8%;
}

.logo-footer{
   display: flex;
   justify-content: space-around;
   margin-top: 10%;
}

.pay-footer{
    display: flex;
    margin-top: 10%;
    margin-right: 0%;
    justify-content: space-around;
}

.fleche{
    display: flex;
    margin-top: 35%;
    margin-bottom: 20%;
    justify-content: center;
    margin-left: 7%;
}

.main-footer{
    margin-top: 5%;
    margin-right: 120px;
}

.join-footer{
    margin-right: 5%;
    margin-top: 6%;
}

.app-footer{
  margin-top: 10%;
}



/*------------------------------------Footer----------*/